<?xml version='1.0' encoding='UTF-8'?>
<Server port='8005' shutdown='SHUTDOWN'>
  <Listener className='org.apache.catalina.startup.VersionLoggerListener'/>
  <Listener className='org.apache.catalina.core.AprLifecycleListener' SSLEngine='on'/>
  <Listener className='org.apache.catalina.core.JreMemoryLeakPreventionListener'/>
  <Listener className='org.apache.catalina.mbeans.GlobalResourcesLifecycleListener'/>
  <Listener className='org.apache.catalina.core.ThreadLocalLeakPreventionListener'/>

  <!-- GlobalNamingResources 추가 설정 -->
  <GlobalNamingResources>
    <Resource name="jdbc/YourDB"
      auth="Container"
      type="javax.sql.DataSource"
      maxTotal="100"
      maxIdle="30"
      maxWaitMillis="10000"
      username="db_user"
      password="db_pass"
      driverClassName="com.mysql.jdbc.Driver"
      url="jdbc:mysql://localhost:3306/yourdb" />
  </GlobalNamingResources>

  <!-- Service 내 Connector 설정 -->
  <Service name='Catalina'>
    <Connector port="8080" protocol="HTTP/1.1"
      connectionTimeout="20000"
      redirectPort="8443"
      maxThreads="200"
      minSpareThreads="50"
      acceptCount="100"
      compression="on"
      compressionMinSize="1024"
      noCompressionUserAgents="gozilla, traviata"
      compressableMimeType="text/html,text/xml,text/plain"
      enableLookups="false"
      disableUploadTimeout="true" />

    <!-- Engine 설정 -->
    <Engine name='Catalina' defaultHost='localhost'>
      <Realm className='org.apache.catalina.realm.LockOutRealm'>
        <Realm className='org.apache.catalina.realm.UserDatabaseRealm' resourceName='UserDatabase'/>
      </Realm>

      <!-- Host 설정 -->
      <Host name='localhost' appBase='webapps' unpackWARs='true' autoDeploy='true'>
        <!-- AccessLogValve 설정 -->
        <Valve className='org.apache.catalina.valves.AccessLogValve' directory='logs'
          prefix='localhost_access_log' suffix='.txt'
          pattern='%h %l %u %t &quot;%r&quot; %s %b' />
        <!-- 정적 리소스 캐싱 -->
        <Context cacheMaxSize="100000" cacheTTL="60000" />
      </Host>
    </Engine>
  </Service>
</Server>
